<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="dev@vesune.com">
        <network host="relay-hosting.secureserver.net" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <compilation targetFramework="4.6.1" debug="true"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="400"/>
      <error statusCode="400" path="G:\PleskVhosts\vesune.com\error_docs\bad_request.html"/>
      <remove statusCode="407"/>
      <error statusCode="407" path="G:\PleskVhosts\vesune.com\error_docs\proxy_authentication_required.html"/>
      <remove statusCode="414"/>
      <error statusCode="414" path="G:\PleskVhosts\vesune.com\error_docs\request-uri_too_long.html"/>
      <remove statusCode="415"/>
      <error statusCode="415" path="G:\PleskVhosts\vesune.com\error_docs\unsupported_media_type.html"/>
      <remove statusCode="503"/>
      <error statusCode="503" path="G:\PleskVhosts\vesune.com\error_docs\maintenance.html"/>
      <error statusCode="401" prefixLanguageFilePath="" path="G:\PleskVhosts\vesune.com\error_docs\unauthorized.html"/>
      <error statusCode="403" prefixLanguageFilePath="" path="G:\PleskVhosts\vesune.com\error_docs\forbidden.html"/>
      <error statusCode="404" prefixLanguageFilePath="" path="G:\PleskVhosts\vesune.com\error_docs\not_found.html"/>
      <error statusCode="405" prefixLanguageFilePath="" path="G:\PleskVhosts\vesune.com\error_docs\method_not_allowed.html"/>
      <error statusCode="406" prefixLanguageFilePath="" path="G:\PleskVhosts\vesune.com\error_docs\not_acceptable.html"/>
      <error statusCode="412" prefixLanguageFilePath="" path="G:\PleskVhosts\vesune.com\error_docs\precondition_failed.html"/>
      <error statusCode="500" prefixLanguageFilePath="" path="G:\PleskVhosts\vesune.com\error_docs\internal_server_error.html"/>
      <error statusCode="501" prefixLanguageFilePath="" path="G:\PleskVhosts\vesune.com\error_docs\not_implemented.html"/>
      <error statusCode="502" prefixLanguageFilePath="" path="G:\PleskVhosts\vesune.com\error_docs\bad_gateway.html"/>
    </httpErrors>
  </system.webServer>
  <system.codedom/>
</configuration>