@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <div class="row">
        <div class="col-md-12">
            <h2>About.</h2>
            <p>
                <br />
                Hi, our team consists of 3 software developers. We have the drive, skill
                and passion to complete any project we take on. We believe hard working
                companies will benefit hiring a reliable software team who can provide
                excellent customer service and deliver awesome software products on time.
                We look forward to working with you!

                <br />
                <br />

                Vesune is a softare start up located in Dallas, Texas.
            </p>
        </div>
    </div>
</div>


