
@{
    ViewBag.Title = "LawnMowers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="jumbotron text-center">
    <div class="row">
        <div class="col-md-12">
            <h2 class="HeaderTextGreen">LawnMowers.</h2>
            <p>
                <br />
                lawn mowers are awesome

                <br />
                <br />

                i said what i said, call me if you have a problem @ViewBag.Message
            </p>
        </div>
    </div>
</div>
