@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron text-center">
            <h2>Internal Web Development</h2>
            <br />
            <p>
                Your employees can complete tasks quicker, precisely and more efficiently.
                We build internal websites that are easy to scale up in size and features.
                We keep the client and users in mind to ensure the service is gainful and
                not a hassle to use. Let's create an internal service
                that will excell your business above expectations.
                <br />
                <br />
                <b>Pricing</b> $60 USD / Hour
            </p>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="jumbotron text-center">
            <h2>External Web Development</h2>
            <br />
            <p>
                Informational websites can relay your core values and promote business to your customers.
                Most modern businesses have a type of online presence to reach a larger potential clientele. We can mold your idea
                into an online presence that appeals to your audience by creating an external website.
                <br />
                <br />
                <b>Pricing</b> $300 USD / Base
            </p>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="jumbotron text-center">
            <h2>Software/Website Testing</h2>
            <br />
            <p>
                We're developers and understand how software functions. We are experts at debugging
                to provide professional, detailed information to other developers. Let us work through existing software and find those
                difficult bugs for you. We enjoy it, seriously.
                <br />
                <br />
                <b>Pricing</b> $20 USD / Hour
            </p>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="jumbotron text-center">
            <h2>Software/Website Maintenance</h2>
            <br />
            <p>
                Existing code for software applications and websites can be a hassle to maintain. We're available to assist
                in handling any maintenance you need done in the correct way by using best practices in coding.
                <br />
                <br />
                <b>Pricing</b> $60 USD / Hour
            </p>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="jumbotron text-center">
            <h2>Custom Solutions</h2>
            <br />
            <p>
                There are many other software services we can provide that aren't listed above. Please send us an email for an estimate.
                <br />
                <br />
                <b>Pricing</b> N/A
            </p>
        </div>
    </div>
</div>